
#PhoneSim{
    margin: 0 auto;
}
.iphone4.lanscape{
    width:960px;
    height: 640px;
}
.iphone5.lanscape{
    width:1136px;
    height: 640px;
}


Layer{display: block;background: #CCC;}
LabelTTF{display: block;}



.fullscreen{width:100%;height: 100%}